<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="server=127.0.0.1;userid=money;password=moneyman;database=geldautomaat;SSL Mode=None;AllowPublicKeyRetrieval=true;" providerName="MySql.Data.MySqlClient"></add>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>